*{
    padding: 0;
    margin: 0;
}
#header{
    background-image: url(Fitness_img/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a{
    float:right;
    color: #fff !important;
}
.bi-list {
    color: #fff !important;
    font-size: 26px;
}

/* -------------Welcome Text================================================== */
.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
.welcome h1{
    color: #333;
}
.welcome .home-btn{
    margin-top: 10px;
    padding:10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome .btn:focus {
    box-shadow: none;
}
/* ----------About us----------- */
#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 10px;
}
#about h3{
    margin: 20px auto;
}

/* -----------services------------- */
#services {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{
    padding: 20px;
}
#services .col-md-4 h4{
    padding: 5px;
}
#services .col-md-4 img{
    width: 50px;
}
#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}

/* --------------features------------- */
#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(Fitness_img/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#features .col-md-6{
    padding: 20px;
}
.feature-box{
    height: 120px;
}
.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float:left;
}
.feature-box .feature-left .bi{
    height: 13px;
    font-size: 50px;
}
.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float:left;
}
.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;
}
/* ============testimonial------------------------ */
#testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials .col-md-4{
    padding: 10px 30px;
}
#testimonials .col-md-4{
    padding: 10px 30px;
}
#testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius:10px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}
.review .bi-twitter{
    color: #013f7e;
}
#testimonials span{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #013f7e;
}
#testimonials p{
    padding-bottom: 30px;
}
#testimonials .middle{
    margin-bottom: -30px;
    margin-top: -30px;
}